/* #rectangle {
background: #34495e;
height: 62px;
position: relative;
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
*/

#rectangle {
height: 70px;
position: relative;
border-radius: 8px;
/* Rectangle 1: */
background: #2C4055;
background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
background-image: linear-gradient(-179deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
-moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
margin: 0.5em 0;
}

#banner {
	position: absolute;
	vertical-align: center;
}

#banner li {
list-style: none;
display: block;
float: left;
margin: 0.5em;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
text-decoration: none;
color: #f0f0f0;
font-size: 1.6em;
}

#banner .change {
	color: #3FC088
}